.CardEmpty{
    width: 100%;
    max-width: 560px;
    margin-bottom: 15px;
}
.CardEmpty__title{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(12px, 1em + 1vw, 22px);
    color: #5B6166;
    margin: 25px 0;
}

.CardEmpty__imgSvg{
    width: 100%;
}
